<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devfun.settingweb_boot.dao.StatisticMapper">

    <select id="selectYearLogin" parameterType="string" resultType="hashMap">
        select count(distinct userID) as totCnt
        from statistc.requestinfo ri
        where left(ri.createDate, 2) = #{year};
    </select>

    <select id="selectMonthLogin" parameterType="string" resultType="hashMap">
        select count(distinct userID) as monthCnt
        from statistc.requestinfo ri
        where substring(ri.createDate, 3, 2) = #{month};
    </select>
    
    <select id="selectAllMonthLogin" parameterType="string" resultType="hashMap">
        SELECT    
		 	COUNT(CASE WHEN substring(ri.createDate, 3,2) = 01 THEN requestID END) AS go_01,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 02 THEN requestID END) AS go_02,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 03 THEN requestID END) AS go_03,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 04 THEN requestID END) AS go_04,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 05 THEN requestID END) AS go_05,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 06 THEN requestID END) AS go_06,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 07 THEN requestID END) AS go_07,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 08 THEN requestID END) AS go_08,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 09 THEN requestID END) AS go_09,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 10 THEN requestID END) AS go_10,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 11 THEN requestID END) AS go_11,
		    COUNT(CASE WHEN substring(ri.createDate, 3,2) = 12 THEN requestID END) AS go_12
		FROM statistc.requestinfo ri;
    </select>

    <select id="selectDayLogin" parameterType="string" resultType="hashMap">
        select count(distinct userID) as dayCnt
        from statistc.requestinfo ri
        where substring(ri.createDate, 5, 2) = #{day};
    </select>

    <select id="averageDayLogin" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from statistc.requestinfo ri
        where substring(ri.createDate, 5,2) = #{day}
        AND ri.requestCode = 'L';
    </select>

    <select id="exceptHoliday" parameterType="string" resultType="hashMap">
        select count(*) as dayCnt
        from statistc.requestinfo ri, statistc.holdayinfo hol
        where left(ri.createDate, 2) = #{year}
        and left(ri.createDate,6) not in hol.locDate;
    </select>

    <select id="deptlongincnt" parameterType="string" resultType="hashMap">
        select count(*) as dayCnt
        from statistc.requestinfo ri, statistc.departments d
        where substring(ri.createDate, 3,2) = #{month}
        group by deptID;
    </select>

</mapper>